<mat-toolbar color="primary">
    <a
     routerLink="/"
    mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

<mat-icon class="mr10">menu_book</mat-icon>
    <span>ExamPortal</span>
</a>
    <span class="example-spacer"></span>
   
    <a
    routerLink="login"
     mat-icon-button class="example-icon login-icon mr60" aria-label="Example icon-button with heart icon">
        Login
      <mat-icon class="ml10">login</mat-icon>
</a>
    <a
    routerLink="signup"
    mat-icon-button class="example-icon mr60" aria-label="Example icon-button with heart icon">
      Register
      <mat-icon class="ml10">app_registration</mat-icon>
</a>
  </mat-toolbar>